<main class="contenedor">
    <form action="/reestablecer-password" method="post" class="default-form" >
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu email" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Iniciar sesion</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer password" class="btn btn-azul">
        </div>
    </form>
</main>