<h1 style="text-aling:center; font-family: Arial, Helvetica;">reestablecer password</h1>

<p style="font-family: Arial, Helvetica;">Has click en el siguiente enlace para reestablecer tu password</p>

<a style="display:block; font-family: Arial, Helvetica; padding: 1rem; text-aling:center;" href="{{resetUrl}}">Reestablecer password</a>